# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Main"

on:
  push:
    tags: ["*"]
    branches: ["*"]
  pull_request:
    branches: ["*"]
  schedule:
    - cron: "25 12 * * 3"
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: "Build on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Use Node.js lts/*"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: "Install dependencies"
        run: "npm ci"
      - name: "Build lib"
        run: "npm run build"
      - name: "Build docs"
        run: "npm run docs"
      - name: "Lint"
        run: "npm run lint"
      - name: "Verify that the build is reproducible"
        if: "startsWith(github.ref, 'refs/tags/v')"
        shell: "bash"
        run: '[ -z "$(git status --porcelain ./dist/)" ] || { git diff >&2; exit 1; }'
      - name: "Upload dist artifact"
        if: "runner.os == 'Linux'"
        uses: "actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4"
        with:
          name: "dist"
          path: "./dist/"
          retention-days: 1
      - name: "Upload docs artifact"
        if: "runner.os == 'Linux' && startsWith(github.ref, 'refs/tags/v')"
        uses: "actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b"
        with:
          path: "./docs/"
          retention-days: 1

  test-node:
    name: "Test on Node.js ${{ matrix.node_version }} on ${{ matrix.os }}"
    needs: ["build"]
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        node_version: ["lts/-1", "lts/*", "current"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use Node.js ${{ matrix.node_version }}"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "${{ matrix.node_version }}"
          cache: "npm"
      - name: "Install dependencies"
        run: "npm ci"
      - name: "Test"
        run: "npm run test:node"

  test-deno:
    name: "Test on Deno ${{ matrix.deno_version }} on ${{ matrix.os }}"
    needs: ["build"]
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        deno_version: ["v2.x"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use Deno ${{ matrix.deno_version }}"
        uses: "denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb"
        with:
          deno-version: "${{ matrix.deno_version }}"
      - name: "Install dependencies"
        run: "deno install"
      - name: "Test"
        run: "deno task test:deno"

  test-bun:
    name: "Test on Bun ${{ matrix.bun_version }} on ${{ matrix.os }}"
    needs: ["build"]
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        bun_version: ["latest"]
        os: ["ubuntu-latest", "macos-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use Bun ${{ matrix.bun_version }}"
        uses: "oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76"
        with:
          bun-version: "${{ matrix.bun_version }}"
      - name: "Install dependencies"
        run: "bun install --frozen-lockfile"
      - name: "Test"
        run: "bun run test:bun"

  test-browser:
    name: "Test on ${{ matrix.browser }} browser on ${{ matrix.os }}"
    needs: ["build"]
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        browser: ["chromium", "firefox", "webkit"]
        os: ["ubuntu-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use Node.js lts/*"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: "Install dependencies"
        run: 'npm ci && npx playwright install --with-deps "${{ matrix.browser }}"'
      - name: "Test"
        run: 'npm run test:browser:"${{ matrix.browser }}"'

  test-quickjs:
    name: "Test on QuickJS ${{ matrix.quickjs_version }} on ${{ matrix.os }}"
    needs: ["build"]
    runs-on: "${{ matrix.os }}"
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        quickjs_version: ["2025-04-26"]
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use QuickJS ${{ matrix.quickjs_version }}"
        uses: "hectorm/ghaction-setup-quickjs@c7fba7f777272a6125c0021440d6dc1bd9924090"
        with:
          quickjs-version: "${{ matrix.quickjs_version }}"
      - name: "Use Node.js lts/*"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: "Install dependencies"
        run: "npm ci"
      - name: "Test"
        run: "npm run test:quickjs"

  publish-npm:
    name: "Publish npm package"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["test-node", "test-deno", "test-bun", "test-browser", "test-quickjs"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use Node.js lts/*"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - name: "Publish"
        env:
          NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
        run: |
          PKG_NAME="$(jq -r '.name' ./package.json)"; PKG_VERSION="$(jq -r '.version' ./package.json)"
          if [ "$(npm view "${PKG_NAME:?}" versions --json | jq -r --arg v "${PKG_VERSION:?}" 'index($v)')" = 'null' ]; then
            npm publish --provenance --access public
          fi

  publish-jsr:
    name: "Publish JSR package"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["test-node", "test-deno", "test-bun", "test-browser"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8"
      - name: "Remove dist directory"
        shell: "bash"
        run: "rm -rf ./dist/"
      - name: "Download dist artifact"
        uses: "actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53"
        with:
          name: "dist"
          path: "./dist/"
      - name: "Use Node.js lts/*"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
        with:
          node-version: "lts/*"
      - name: "Publish"
        run: |
          npx jsr publish

  publish-github-release:
    name: "Publish GitHub release"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["test-node", "test-deno", "test-bun", "test-browser"]
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Publish"
        uses: "hectorm/ghaction-release@d0426a7a369ce2c1ed615e1a583788b22745ccfe"

  publish-github-pages:
    name: "Publish GitHub Pages"
    if: "startsWith(github.ref, 'refs/tags/v')"
    needs: ["test-node", "test-deno", "test-bun", "test-browser"]
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      pages: "write"
    environment:
      name: "github-pages"
      url: "${{ steps.deployment.outputs.page_url }}"
    steps:
      - name: "Publish"
        id: "deployment"
        uses: "actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e"
